  <div class="footer-container">
        <footer class="footer">
            <div class="footer-content">
                <!-- Column 1: Logo and Company Name -->
                <div class="footer-column logo-section">
                    <img src="/images/Com.jpg"  class="logo">
                    <div class="company-info">
                        <div class="company-name">Stravon Tech Labs</div>
                    </div>
                </div>

                <!-- Column 2: Contact Information -->
                <div class="footer-column">
                    <h3>Contact Information</h3>
                    <div>
                        <div class="contact-item">
                            <div class="contact-icon">
                                <img src="/images/email.png">
                            </div>
                            <a href="mailto:">
                                info@stravontechlabs.com
                            </a>
                        </div>
                        
                        <div class="contact-item">
                            <div class="contact-icon">
                                <img src="/images/phone.png">
                            </div>
                            <div class="phone-numbers">
                                <a  href="https://wa.me/254115338036" target="_blank">
                                    +254 115338036
                                </a>
                                <a  href="https://wa.me/254718852518" target="_blank" >
                                    +254 718852518
                                </a>
                            </div>
                        </div>
                        
                        <div class="contact-item">
                            <div class="contact-icon">
                                <img src="/images/location.png">
                            </div>
                            <a href="">
                                Kangare, Murang'a County, Kenya
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Column 3: Quick Links -->
                <div class="footer-column">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>

                <!-- Column 4: Social Media Links -->
                <div class="footer-column">
                    <h3>Follow Us</h3>
                    <div>
                        <a href="https://wa.me/254105140326" target="_blank" class="social-link">
                            <div class="social-icon">
                                <img src="/images/whatsapp.png">
                            </div>
                            <span class="social-text">WhatsApp</span>
                        </a>
                        <a href="" class="social-link">
                            <div class="social-icon">
                                <img src="/images/facebook.png">
                            </div>
                            <span class="social-text">Stravon Tech Labs</span>
                        </a>
                        <a href="" class="social-link">
                            <div class="social-icon">
                                <img src="/images/instagram.png" alt="Instagram Icon">
                            </div>
                            <span class="social-text">staravon_tech_labs</span>
                        </a>
                        <a href="" class="social-link">
                            <div class="social-icon">
                                <img src="/images/twitter.png">
                            </div>
                            <span class="social-text">Stravon_Tech_Labs</span>
                        </a>
                        <a href="https://www.tiktok.com/@midnighttechnolog?_t=ZM-8xkdaCTIj4P&_r=1"  target="_blank" class="social-link">
                            <div class="social-icon">
                                <img src="/images/tik-tok.png">
                            </div>
                            <span class="social-text">@midnighttechnologies</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="copyright">
                © 2025 Stravon Tech Labs. All rights reserved.
            </div>
        </footer>
    </div>