.homeHeroHeader {
   display: flex;
   align-items: center;
   gap: 1em;
   width: 86%;
   margin: 8px auto;
}

.homeHeroText {
   display: flex;
   flex-direction: column;
   gap: 1em;
   width:94%;
}

.homeHeroText h2 {
   margin: 0;
   padding: 2px;
   font-size: 56px;
   font-family: "Archivo";
   width:100%;
}

.homeHeroText p {
   font-size: 20px;
   font-family: "Open Sans";
   line-height: 2.2;
   width:90%;
}

.homeHeroImage {
   width: 40%;
   height: auto;
   object-fit: contain;
}

.HomeButtons {
   display: flex;
   align-items: center;
   gap: 16px;
   padding: 2px 0;
   width:100%;
}

.HomeButtons a {
   all: unset;
   cursor: pointer;
   display: contents;
}

.HomeButtons button {
   padding: 6px 1.2em;
   font-family: "Roboto Condensed";
   font-size: 22px;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
   width:40%;
}

.btn-primary {
   background: #EBD281;
   border: 2px solid #D4AF37;
}

.btn-primary:hover {
   background: #D4AF37;
   color: white;
}

.btn-primary:active {
   background: #C19B2E;
   transform: scale(0.98);
}

.btn-secondary {
   background: white;
   border: 4px solid #D4AF37;
}

.btn-secondary:hover {
   background: #D4AF37;
   color: white;
}

.btn-secondary:active {
   background: #C19B2E;
   transform: scale(0.98);
}

@media(max-width:980px) {
   .homeHeroHeader {
      flex-direction: column;
      align-items: center;
      gap: 2em;
      width: 90%;
      margin:10px auto;
      padding:2px;
   }

   .homeHeroImage {
      width: 60%;
      order: 1;
   }

   .homeHeroText {
      width: 100%;
      order: 2;
      text-align: center;
      align-items: center;
   }

   .homeHeroText h2 {
      font-size: 42px;
   }

   .homeHeroText p {
      font-size: 20px;
   }
   .HomeButtons{
      align-items:center;
      justify-content:space-evenly;
      width:90%;
      margin:0 auto;
   }
   .HomeButtons button {
      font-size: 20px;
      padding:6px;
      border-radius:2px;
      width:40%;
   }
}

@media(max-width:780px) {
   .homeHeroHeader {
      flex-direction: column;
      align-items: center;
      gap: 1em;
      margin:0 auto;
   }

   .homeHeroText {
      align-items: center;
      gap: 20px;
      text-align: center;
      order: 2;
      margin:8px auto;
      padding:4px;
   }

   .homeHeroImage {
      width: 70%;
      order: 1;
      object-fit: contain;
      height: auto;
      margin:0 auto;
   }

   .homeHeroText h2 {
      font-size: 44px;
   }

   .homeHeroText p {
      font-size: 22px;
      line-height: 1.8;
   }
  .HomeButtons {
      align-items: center;
      gap: 20px;
      width:80%;
      margin:0 auto;
      justify-content:space-evenly;
   }

   .HomeButtons button {
      padding: 8px;
      font-size: 24px;
      width:40%;
      border-radius:4px;
   }
}

@media(max-width:480px) {
   .homeHeroHeader {
      margin: 8px 14px;
      padding-left: 0.8em;
      gap:1em;
   }

   .homeHeroImage {
      width: 80%;
      order: 1;
      height: auto;
      object-fit: contain;
   }

   .homeHeroText {
      width: 100%;
      gap:18px;
      padding:4px;
   }

   .homeHeroText h2 {
      font-size: 36px;
   }

   .homeHeroText p {
      font-size: 18px;
      line-height: 1.8;
   }

   .HomeButtons {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width:100%;
   }

   .HomeButtons button {
      padding: 18px;
      font-size: 16px;
      width:50%;
   }
}