.heroHeader{
   display:flex;
   align-items:center;
   gap:1em;
   width:96%;
   margin:0 auto;
}
.heroText{
   display:flex;
   flex-direction:column;
   gap:5px;
}
.heroText h2{
   margin:0;
   padding:2px;
   font-size:68px;
   font-family:"Roboto Condensed";
}
.heroText h3{
   font-size:26px;
   font-family:"Archivo";
   font-weight:300;
   line-height:1.8;
}
.heroImage{
  width: auto;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.buttons{
   display:flex;
   align-items:center;
   gap:16px;
   padding:2px 0;
}

.buttons a {
  all: unset;
}

.buttons button {
   padding: 6px 1.2em;
   font-family: "Roboto Condensed";
   font-size: 24px;
   border-radius: 0.2em;
   cursor: pointer;
   transition: all 0.3s ease;
}

.btn-primary {
   background: #EBD281;
   border: 4px solid #D4AF37;
}

.btn-primary:hover {
   background: #D4AF37;
   color: white;
}

.btn-primary:active {
   background: #C19B2E;
   transform: scale(0.98);
}

.btn-secondary {
   background: white;
   border: 4px solid #D4AF37;
}

.btn-secondary:hover {
   background: #D4AF37;
   color: white;
}

.btn-secondary:active {
   background: #C19B2E;
   transform: scale(0.98);
}
@media(max-width:980px){
   .heroHeader{
      gap:0.2em;
      display:flex;
      flex-direction:column;
      align-items:center;
      width:90%;
   }
   .heroImage{
      max-width:80%;
      order:1;
   }
   .heroText{
      width:100%;
      order:2;
      text-align:center;
      align-items:center;
   }
   .heroText h2{
      font-size:54px;
   }
   .heroText h3{
      font-size:24px;
   }
   .buttons button{
      font-size:20px;
      padding:6px 2em;
   }
}
@media(max-width:780px){
   .heroHeader{
      display:flex;
      flex-direction:column;
      align-items:center;
      gap:1em;
   }
   .heroText{
      display:flex;
      align-items:center;
      gap:10px;
      text-align:center;
      order:2;
   }
   .heroImage{
   flex-shrink: 0;
   order:1;
   max-width: 100%; 
   object-fit: contain;
   height:auto;
   padding-left:2em;
   }
   .heroText h2{
      font-size:64px;
   }
   .heroText h3{
      font-size:22px;
      line-height:1.4;
   }
   .buttons button{
      padding:4px 1em;
      font-size:20px;
   }
}
@media(max-width:480px){
   .heroHeader{
      margin:0 14px;
      padding-left:0.8em;
   }
   .heroImage{
   order:1;
   height:auto;
   width:100%; 
   object-fit: contain;
   }
   .heroText{
      width:100%;
   }
   .heroText h2{
      font-size:40px;
   }
   .heroText h3{
      line-height:1.4;
      font-size:20px;
   }
   .buttons{
      display:flex;
      flex-direction:column;
      align-items:center;
      gap:18px;
   }
   .buttons button{
      padding:6px 1.8em;
      font-size:18px;
   }
}