*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
   background:#F7F6F3;
   padding:0;
   margin:0;
   box-sizing:border-box;
   overflow-x: clip;
}
h2{
    font-weight:600;
}
h3{
    font-weight:500;
}
html{
  overflow-x: clip;
}

button{
    cursor:pointer;
}

